@page "/questions"
@attribute [StreamRendering]
@using System.Text.Json;
@using System.Text
@using BlazorClient.Model;
@inject NavigationManager NavManager
@using System.Net.Http;

<PageTitle>Ask a Question</PageTitle>

<h1 class="question-header">Ask a question</h1>

<style>
    .question-header {
        color: #fff;
        text-align: center;
    }

    .question-title {
        color: #fff;
    }

    .question-body {
        color: #fff;
    }

    .form-group {
        margin-bottom: 20px; /* Adjust as needed */
    }

</style>

<EditForm Model="@question" OnSubmit=@FormSubmitted FormName="questionForm">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label class="question-title" for="Title">Title: </label>
        <InputText class="form-control" id="Title" @bind-Value="question.Title"></InputText>
    </div>
    <div class="form-group">
        <label class="question-body" for="Body">Body: </label>
        <InputText class="form-control" id="Body" @bind-Value="question.Body"></InputText>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</EditForm>

@code {
    Question question = new Question();

    public class Question
    {
        public int QuestionId { get; set; }
        public int userid { get; set; }
        //[Required]
        public string? Title { get; set; }
        //[Required]
        public string? Body { get; set; }
        public DateTime? CreateAt { get; set; }
    }

    string ? LastSubmitResult;

    void FormSubmitted(EditContext editContext)
    {
        HttpClient client = new HttpClient();
        question.userid = 46;
        question.CreateAt = DateTime.Now;
        string jsonQuestion = JsonSerializer.Serialize(question);
        var request = client.PostAsync("http://3.250.62.135:5033/api/Questions", new StringContent(jsonQuestion, Encoding.UTF8, "application/json"));
        if (request.Result.IsSuccessStatusCode)
        {
            NavManager.NavigateTo("/");
        }
        NavManager.NavigateTo("/");
    }
}

